*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Pacifico', cursive, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
}

:root{
    font-size: 12px;
}

.plex-sidebar{
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    border-right: 1px solid #ededed;
    background: #f9f9f9;
}

.side-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.8rem;
}

.header h3{
    font-family: 'Pacifico', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #4a4a4a;
    margin-top: 1rem;
}

.side-profile{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.profile-pics{
    position: relative;
}

.profile-pix{
    width: 6rem;
    border-radius: 50%;
}

.badge{
    background: #E73C7E;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: .5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name{
    font-family: Montserrat;
    text-align: center;
}

.profile-name h3{
    color: #4a4a4a;
    font-size: 1.2rem;
}

.profile-name p{
    color: #999999;
    padding-bottom: 2rem;
}

.menu-details{
    font-family: ubuntu;

}

.menu-items{
    text-decoration: none;
    color: #868686;
    display: flex;
    align-items: center;
    padding: 1.2rem 5rem;
    width: 198px;
}

.menu-items span{
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu-icons{
    color: grey;
}

.menu-items:hover{
    border-right: 2px solid #E73C7E;
    cursor: pointer;
}

.page{
    padding: .8rem 3rem;
    background: #f7f7f7;
    overflow: hidden;
}

.page-nav{
    display: flex;
    padding-bottom: 2rem;
}

.start-nav{
    display: flex;
    /* width: 48vw; */
    background-color: #fff;
    border-radius: 3px;
    padding: .2rem 1rem;
    border: .5px solid rgba(0, 0, 0, .1);
}

/* .start-nav:hover{
    border: .2px solid rgba(0, 0, 0, .1);
} */

.start-nav input{
    outline: none;
    border: none;
    align-items: center;
    width: 46vw;
    font-size: 1.4rem;
    font-family: ubuntu;
    margin-left: 1rem;
}

.search-bar{
    background: white;
    display: flex;
    align-items: center;
}

.end-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12rem;
    margin-left: 10rem;
}

.imge{
    width: 3.5rem;
    border-radius: 50%;
}

.notification{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: relative;

}

.notification:hover{
    background: white;
}

.msg,
.notif,
.profile-notif{
    position: relative;
}

.count{
    background: #5BA4FC;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;

}

.analysis{
    display: flex;
    width: 75rem;
    height: 18rem;
    background: #fff;
    border-radius: 5px;
    font-family: ubuntu;
    padding: 3rem 2.5rem;
    border: .5px solid rgba(0, 0, 0, .1);
}

.price{
    width: 45rem;
    padding-right: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem ;
    font-family: montserrat;
    
}

.header h2{
    font-size: 2.2rem;
    color: #4a4a4a;
}

.header span{
    color: #505050;
    font-weight: bold;
    font-size: 1.1rem;
}

.context p{
    line-height: 1.5;
    width: 35rem;
    color: #999999;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}

.october,
.september{
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 0;
    /* justify-content: space-between; */
}

.date{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .4);
}

.october p,
.september p{
    margin-left: 3rem;
    color: rgba(0, 0, 0, .7);
    font-size: 1.1rem;
    font-family: montserrat;
    font-weight: bold;
}

.amount{
    font-family: montserrat;
    font-size: 1.1rem;
    font-weight: bold;
 
}

.october .amount{
    color: rgba(0, 0, 0, .5);
}

.september .amount{
    color: #E73C7E;
}

.summary .chart{
    display: flex;
    width: 23rem;
    justify-content: space-between;
    margin-left: 3.5rem;
}

.summary .summ{
    font-size: 1.4rem;
    margin:  0 1rem .8rem 2.5rem;
    font-family: montserrat;
    font-weight: 700;
    color: rgba(0, 0, 0, .7);
}
  
.chart p{
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, .4)
}
  
.bar,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6{
    position: relative;
    display: block;
    margin: 2vh auto;
    width: 10px;
    height: 27vh;
    background: rgba(0, 0, 0, .1);
    border-radius: 30px;
}
  
.bar:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:55%;
    background: rgba(231, 60, 126);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
  
.bar1:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:90%;
    background: rgba(231, 60, 126);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
  
.bar2:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:45%;
    background: rgb(141,192,253);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
  
.bar3:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:65%;
    background: rgba(231, 60, 126);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.bar4:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:70%;
    background: rgba(231, 60, 126);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
  
.bar5:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:80%;
    background: rgba(231, 60, 126);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
  
.bar6:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height:35%;
    background: rgba(141, 192, 253);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.mary{
    display: flex;
    width: 80rem;
    height: 10rem;
    margin-top: 2.6rem;
    background: #fff;
    align-items: center;
}

.icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-icon-outer{
    position: relative;
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 50%;
    border: 1.4px solid #ddecfe;
    display: flex;
    align-items: center;
    justify-content: center;
}

mail-icon-inner{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1.4px solid #bfdcfe;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
}
